---
import env from "@utils/env.ts";
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="version" content={env?.VERSION} />
    <title set:html={title}></title>
  </head>
  <body class="font-sans bg-background text-foreground">
    <slot />
  </body>
</html>

